*.o
*.swp
ex1/duplicate
ex1/even_odd
ex1/product
ex1/repeating
ex1/rotate
ex1/smallest_largest
ex1/swap_pair
ex2/key
ex2/missing
ex2/union_intersection
ex2/matrix
ex2/largest_difference
ex2/nge
ex3/prime
ex3/gcd
ex4/insertion_sort
ex4/insertion_sort_counter
ex4/insertion_sort_timed
ex4/newton
ex4/moore
ex5/bin_search

